{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="row text-center static-page-box">
    <h1 class="text-center">Disclaimer</h1>
    <p style="font-size:1.7rem;">This portal is an initiative by students of IIT Guwahati<br>
        To bring together public, government authorities, and volunteers<br/>to prepare better for upcoming disasters and effectively help the sufferers.<br/></p>
    <br>
    <h1 class="text-center">GDPR Compliance</h1>
    <p style="font-size:1.7rem;">By providing your personal information, you consent to making such information accessible to persons who visit this website. By volunteering your information on this website, you consent to making information public. The creators of this website or Microsoft shall not be liable for any unauthorized use, misuse or sharing of such information.</p>
</div>
{% endblock %}
