{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}


<h1 class="text-center">Contact Info</h1>
<br><br>


<h1 class="text-center"> NDMA Helpline Number: 011-1078</h1>
<h1 class="text-center"> Disaster REsponse Force: 0361-284-0284</h1>

<br><br>

<h1 class="text-center"> <u>Management Team at IIT Guwahati</u></h1>
<h2 class="text-center"> 1)Udbhav Chugh - udbha170123055@iitg.ac.in </h2>
<h2 class="text-center"> 2)Utkarsh Jain - jain170101075@iitg.ac.in </h2>
<h2 class="text-center"> 3)Vakul Gupta - vakul170101076@iitg.ac.in </h2> 
{% endblock %}
