{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}


<h3 class="text-center">
  Relief Camps
</h3>


<div class="container text-center">
    <a href="{%url 'relief_camps_list' %}" class="home-button card" role="button">
        {% bootstrap_icon "home" %}
        <span class="text text-center">
            Relief Camps List
            <span class="ml small"></span>
        </span>
    </a>
    <a href="{%url 'camp_requirements_list' %}" class="home-button card" role="button">
        {% bootstrap_icon "list" %}
        <span class="text text-center">
            Supply Requirements
            <span class="ml small"></span>
        </span>
    </a>
</div>


{% endblock %}
